.card {
    padding: 1.5rem;
    background-color: var(--card-bg);
    border-radius: 1rem;
    box-shadow: 0 10px 15px -3px var(--card-shadow), 0 4px 6px -2px var(--card-shadow);
    transition: all 0.2s ease;
}

.card:hover {
    transform: translateY(-4px);
    background-color: var(--card-hover-bg);
}